#hero-about {
  background-image: url(./image/about-img/Rectangle\ 11.png);
}


.author-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  margin-top: 133px;
  gap: 33px;
}
.author-text h2 {
  max-width: 751px;
  text-align: center;
}
.author-text p {
  color: #4d5053;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-top: 133px;
}
.what-we-do {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 500px;
}
.what-we-do h1 {
  color: #292f36;
  font-family: 'DM Serif Display', serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 62.5px */
  letter-spacing: 1px;
  margin: 0;
}
.what-we-do p {
  color: #4d5053;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
  margin-top: 23px;
}
.btn {
  display: flex;
  padding: 26px 41px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  background: #292f36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  color: #fff;
  text-align: center;
  font-size: 18px;
  margin-top: 41px;
}
.content img {
  display: flex;

  width: 100%;
  max-width: 718px;
  height: auto;
}

/* About us */
.about-container {
  background-color: #d8a876;
  border-radius: 80px;
  padding-bottom: 80px;
}

.call-data {
  display: flex;
  margin-top: 20px;
}
.text .btn-hero {
  margin: 0;
  margin-top: 47px;
}
#about-us {
  margin-top: 194px;
}
#about-us h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 62.5px;
  letter-spacing: 1px;
  padding-top: 81px;
}
.container .all-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: auto 30px;
}

.container .box {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: #fff;
  align-items: flex-start;
  padding: 15px;
}

.person-img {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-top: 53px;
}
.person-img img {
  border-radius: 50px;
}
.person-data {
  margin: 0;
  margin-left: 15px;
}

.person-data h3 {
  color: #292f36;
  font-family: 'DM Serif Display', serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 37.5px;
  letter-spacing: 0.25px;
  margin: 0;
}
.person-data p {
  margin: 0;
  color: #4d5053;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.22px;
}
.person-text {
  padding-left: 15px;
  padding-top: 25px;
  color: #4d5053;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.22px;
}
.inputs {
  margin-top: 98px;
}
.inputs h2 {
  display: flex;
  justify-content: center;
  color: #292F36;

text-align: center;
font-family: 'DM Serif Display', serif;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 62.5px */
letter-spacing: 1px;
margin-bottom: 99px;
}
.text-email {
  display: flex;
  justify-content: space-between;
}
#username {
  width: 40%;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  color: #4d5053;
  font-size: 30px;
  font-style: normal;
}
#useremail {
  width: 40%;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  color: #4d5053;
  font-size: 30px;
  font-style: normal;
}
#usermessage {
  display: flex;
  width: 100%;
  height: 46px;
  margin-top: 235px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  color: #4d5053;
  font-size: 30px;
  font-style: normal;
  padding: 0;
}
.btnn {
  display: flex;
  justify-content: center;
  margin-top: 51px;
}



@media (max-width: 933px) {
  .what-we-do h1 {
    font-size: 40px;
  }
  .what-we-do p {
    font-size: 17px;
  }
  .btn {
    font-size: 15px;
    padding: 18px 28px;
  }
  .btn svg {
    width: 15px;
  }
  .container .all-box {
    grid-template-columns: 90%;
    justify-content: center;
    align-items: center;
  }
  .person-img{
    padding-top: 19px;
  }
  .person-text{
    padding-top: 0px;
  }
}
@media (max-width: 811px) {
  .nav {
    display: none;
  }
}
@media (max-width: 800px) {
  .content{
    flex-direction: column;
  }
  .what-we-do{
    width: 100%;
  }
  .about-container {
    border-radius: 40px;
    padding-bottom: 37px;
}
#about-us h1 {
  font-size: 30px;
  padding-top: 26px;
}
.container .all-box {
  margin: auto 0px;
  grid-template-columns: 90%;
}
.person-img {
  padding-top: 21px;
}
  /* .what-we-do h1 {
    font-size: 22px;
  }
  .what-we-do p {
    font-size: 12px;
  } */
  .btn {
    font-size: 14px;
    padding: 16px 22px;
    margin-top: 10px;
  }
  .btn svg {
    width: 10px;
  }
  .inputs h2{
    font-size: 37px;
  }
  
  
 
}
@media (max-width: 380px) {
  .hero {
    margin-top: 30px;
  }
  .hero h1 {
    font-size: 50px;
  }
  .content {
    flex-direction: column;
    margin-top: 60px;
  }
  .what-we-do {
    max-width: 100%;
  }
  .author-text {
    margin-top: 50px;
  }
  .author-text h2 {
    font-size: 20px;
  }
  .author-text p {
    font-size: 17px;
  }
  #about-us {
    margin: 0;
    padding-bottom: 15px;
  }
  form{
    margin-bottom: 76px;
  }

  #about-us h1 {
    font-size: 30px;
    line-height: normal;
  }
  .container .all-box {
    margin: auto 0px;
  }
  .person-data h3 {
    font-size: 18px;
    line-height: normal;
  }
  .person-data p {
    font-size: 13px;
    line-height: normal;
  }
  .person-text {
    padding-top: 16px;
    font-size: 18px;
    line-height: normal;
  }
  #username{
    width: 30%;
    font-size: 18px;
  }
  #useremail{
    width: 30%;
    font-size: 18px;
  }
  #usermessage{
    font-size: 18px;
    margin-top: 60px;
    height: 30px;
  }
  .inputs h2{
    font-size: 25px;
    margin-bottom: 45px;
  }
}
@media (max-width: 600px){
.about-container {
    border-radius: 32px;
    padding-bottom: 26px;
}
#about-us h1 {
  
  line-height: 31.5px;
}
}