.all-box {
  display: flex;
}
.img-notfound {
  display: flex;
}
.img-notfound img {
  width: 100%;
}
.text-404 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  left: -103px;
  top: 313px;
  max-width: 564px;
}
.text-404 h1 {
  color: #cda274;
  font-family: 'DM Serif Display', serif;
  font-size: 250px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 312.5px */
  margin: 0;
}
.text-404 h3 {
  margin: 0;

  color: #292f36;
  font-family: 'DM Serif Display', serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 52.5px */
  letter-spacing: 0.35px;
}
.btn {
  display: flex;
  padding: 26px 54px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  background: #292f36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  color: #fff;
  text-align: center;
  font-size: 18px;
}
.btnn {
  display: flex;
  justify-content: flex-end;
  margin-top: 23px;
}
@media (max-width: 912px) {
  .all-box {
    flex-direction: column;
    /* align-items: center; */
  }
  .text-404 {
    position: inherit;
  }
}
@media (max-width: 1350px) {
  .container {
   
    padding: 0 33px;
  }
}
@media (max-width: 600px) {
    .text-404 h1{
        font-size: 130px;
    }
    .text-404 h3{
        font-size: 25px;
    }
    .btn{
        padding: 20px 33px;
        font-size: 14px;
    }
    .btn svg{
        width: 14px;
    }
  }
  
