
* {
    box-sizing: border-box;
   
    font-family: 'Jost', sans-serif;
  }
  body{
    margin: 0;
  }
  a{
    text-decoration: none;
  }
  
  #header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin:50px 0 ;
  }
  .logo {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
  }
  .menu-btn{
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
    
  }
  .menu-btn span{
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
  }
  #side-drawer{
    width:100% ;
    height: 100%;
    background-color: #4d5053;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
  }
    #side-drawer header{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    margin:50px 0 ;
  }
  .side-drawer-header{
    display: flex;
    justify-content: end;
  }
  /* #side-drawer:target{
    display: block;
  } */
  .fa-solid, .fas {
    font-weight: 900;
    font-size: 40px;
}
  #side-drawer ul{
    list-style: none;
    margin: 0;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  #side-drawer a{
    text-decoration: none;
    text-underline-offset:none ;
    color: #fff;
    font-size: 25px;
  }
  #side-drawer li{
    margin: 10px 0;
  }

  .logo-text {
    width: auto 170px;
    height: auto 50px;
  font-family: 'DM Serif Display', serif;
    text-decoration: none;
    color: #292f36;
  
    font-size: 40px;
  }
  #header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .list-items {
    display: flex;
    list-style: none;
    font-style: normal;
    justify-content: space-between;
  }
  
  .list-items li a {
    margin: auto 30px;
    text-decoration: none;
    font-size: 20px;
    color: #292f36;
  }
  
  .container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
  }

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./image/services-img/Rectangle\ 20.png);
    background-size: cover;
    background-position: center;
    height: 356px;
    
    box-sizing: none !important;
  }
  .hero h1 {
    color: #fff;
  
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'DM Serif Display', serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
  }

.about-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 41px;
    gap: 101px;
  }
  .logotxt {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .loogo p {
    margin-top: 18px;
    color: #4d5053;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
  }
  .icons {
    display: flex;
    justify-content: flex-start;
    gap: 54px;
    margin-top: 31px;
  }
  .all-pages {
    display: flex;
    gap: 50px;
  }
  .all-pages h3 {
    color: #292f36;
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
  }
  .all-pages p {
    color: #4d5053;
    margin: 0;

    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0.22px;
  }
  .contact-p p{
    line-height: 33px ;
    margin-top: 22px;
  }
  footer {
    display: flex;
    justify-content: center;
    color: #4d5053;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
    margin-top: 138px;
  }
  
@media (max-width:900px) {
  .menu-btn{
    display: flex;
  }
  .list-items {
    display: none;
  }
  
}

  @media (max-width: 1000px){
    .all-pages p{
        line-height: 39px;
      }

  }
@media (max-width: 990px) {
    .about-page {
        flex-direction: column;
        gap: 0px;
    }
    .all-pages{
        flex-direction: column;
    }
    .all-pages > ul {
        padding: 0;
        margin: 0px;
    }
    footer {
        margin-top: 20px;
        justify-content: start;
        align-items: start;
    }
    .all-pages p{
        line-height: 39px;
      }
      footer{
        margin-top: 20px;
      }


}
  @media (max-width: 600px) {
 
    .icons{
      gap: 40px;
    }
    .loogo p{
      font-size: 18px;
    }
    .about-page{
      display: flex;
      flex-direction: column;
    }
    .all-pages{
        flex-direction: column;
    }
    .all-pages > ul {
        padding: 0;
    }


}
@media (max-width:340px) {
    .all-pages{
        flex-direction: column;
    }
    .logo-text{
      font-size: 34px;
    }
    
    .menu-btn i{
      font-size: 34px;
    }
}

@media (max-width: 1350px) {
  .container {
    padding: 0 16px;
  }
}